main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
/* .carousel-caption {
  position: absolute;
  top: 0;
} */

.carousel-caption h4 {
  color: #333;
}
.carousel-caption p {
  color: #fff;
  font-size: 1.25rem;
}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}
@media (max-width: 900px) {
  .carousel-caption h4 {
    font-size: 2.5vw;
  }
}

.header-custom{
  padding: 0.2rem;
  border-top-color:#13bfb3!important ;
  border-top-width: 10px;
  border-top-style: solid;
}

.search-btn{
  border-color: #13bfb3;
}

.carousel img{
border-radius: 0;
height: auto;
}